@model CaprisMedica.UI.Models.Empleados

@{
    ViewData["Title"] = "Create";
    Layout = "Layout2";
}

<h2>Agregar Empleado</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Tipo de Cédula</label>
                        <div class="form-line">
                            <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Cédula</label>
                        <div class="form-line">
                            <input asp-for="EmpleadoCedula" class="form-control" />
                            <span asp-validation-for="EmpleadoCedula" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <div class="form-line">
                            <input asp-for="EmpleadoNombre" class="form-control" />
                            <span asp-validation-for="EmpleadoNombre" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Primer Apellido</label>
                        <div class="form-line">
                            <input asp-for="EmpleadoPrimerA" class="form-control" />
                            <span asp-validation-for="EmpleadoPrimerA" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Segundo Apellido</label>
                        <div class="form-line">
                            <input asp-for="EmpleadoSegundoA" class="form-control" />
                            <span asp-validation-for="EmpleadoSegundoA" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Correo</label>
                        <div class="form-line">
                            <input asp-for="EmpleadoCorreo" class="form-control" />
                            <span asp-validation-for="EmpleadoCorreo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>           
            <div class="form-group">
                <input type="submit" value="Create" class="btn bg-grey waves-effect" />
                <button type="button" class="btn bg-grey waves-effect" onclick="location.href='@Url.Action("Index", "Empleados")'">Regresar</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
