@model CaprisMedica.UI.Models.Departamentos

@{
    ViewData["Title"] = "Create";
    Layout = "Layout2";
}

<h2>Agregar Departamento</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Id Equipo: </label>
                        <div class="form-line">
                            <input asp-for="DepartamentoId" class="form-control" disabled />
                            <span asp-validation-for="DepartamentoId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Nombre: </label>
                        <div class="form-line">
                            <input asp-for="DeparatamentoNombre" class="form-control" />
                            <span asp-validation-for="DeparatamentoNombre" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Estado: </label>
                        <div class="form-line">
                            <select asp-for="DepartamentoEstado" class="form-control">
                                <option>Activo</option>
                                <option>Inactivo</option>
                            </select>
                            <span asp-validation-for="DepartamentoEstado" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn bg-grey waves-effect" />
                <button type="button" class="btn bg-grey waves-effect" onclick="location.href='@Url.Action("Index", "Departamento")'">Regresar</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
