@model CaprisMedica.UI.Models.Usuarios

@{
    ViewData["Title"] = "Create";
    Layout = "Layout2";
}

<h2>Agregar Empleado</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Usuario (Cédula): </label>
                        <div class="form-line">
                            <input asp-for="Usuario" class="form-control" />
                            <span asp-validation-for="Usuario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">  
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Rol</label>
                        <div class="form-line">
                            <input asp-for="RolId" class="form-control" />
                            <span asp-validation-for="RolId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn bg-grey waves-effect" />
                <button type="button" class="btn bg-grey waves-effect" onclick="location.href='@Url.Action("Index", "Usuarios")'">Regresar</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
