@model CaprisMedica.UI.Models.Usuarios

@{
    ViewData["Title"] = "Delete";
    Layout = "Layout2";
}

<h3>¿Está seguro que desea eliminar el registro?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Delete">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Usuario (Cédula): </label>
                            <div class="form-line">
                                <input asp-for="Usuario" class="form-control" />
                                <span asp-validation-for="Usuario" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Rol: </label>
                            <div class="form-line">
                                <input asp-for="RolId" class="form-control" />
                                <span asp-validation-for="RolId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Usuario" />
        <input type="submit" value="Delete" class="btn bg-grey waves-effect" />
        <button type="button" class="btn bg-grey waves-effect" onclick="location.href='@Url.Action("Index", "Usuarios")'">Regresar</button>
    </form>
</div>
