@model CaprisMedica.UI.Models.Solicitudes

@{
    ViewData["Title"] = "Edit";
    Layout = "Layout2";
}

<h2>Editar</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Id Solicitud: </label>
                        <div class="form-line">
                            <input asp-for="SolicitudId" class="form-control" />
                            <span asp-validation-for="SolicitudId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Provincia: </label>
                        <div class="form-line">
                            <select asp-for="Provincia" class="form-control" asp-items="ViewBag.Provincia"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Cliente: </label>
                        <div class="form-line">
                            <select asp-for="Cliente" class="form-control" asp-items="ViewBag.Cliente"></select>
                            <span asp-validation-for="Cliente" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Departamento: </label>
                        <div class="form-line">
                            <select asp-for="Departamento" class="form-control" asp-items="ViewBag.Departamento"></select>
                            <span asp-validation-for="Departamento" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Equipo: </label>
                        <div class="form-line">
                            <select asp-for="Equipo" class="form-control" asp-items="ViewBag.Equipo"></select>
                            <span asp-validation-for="Equipo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Encargado: </label>
                        <div class="form-line">
                            <select asp-for="EmpleadoCedula" class="form-control" asp-items="ViewBag.EmpleadoCedula"></select>
                            <span asp-validation-for="EmpleadoCedula" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Tipo de Trabajo: </label>
                        <div class="form-line">
                            <select asp-for="TipoTrabajo" class="form-control" asp-items="ViewBag.TipoTrabajo"></select>
                            <span asp-validation-for="TipoTrabajo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Motivo: </label>
                        <div class="form-line">
                            <input asp-for="SolicitudMotivo" class="form-control" />
                            <span asp-validation-for="SolicitudMotivo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Fecha de Reporte: </label>
                        <div class="form-line">
                            <input asp-for="FechaReporte" class="form-control" />
                            <span asp-validation-for="FechaReporte" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Hora de Entrada: </label>
                        <div class="form-line">
                            <input asp-for="HoraEntrada" class="form-control" />
                            <span asp-validation-for="HoraEntrada" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Hora de Salida: </label>
                        <div class="form-line">
                            <input asp-for="HoraSalida" class="form-control" />
                            <span asp-validation-for="HoraSalida" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Tipo de Hora: </label>
                        <div class="form-line">
                            <input asp-for="TipoHora" class="form-control" />
                            <span asp-validation-for="TipoHora" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Cantidad de horas: </label>
                        <div class="form-line">
                            <input asp-for="CantidadHoras" class="form-control" />
                            <span asp-validation-for="CantidadHoras" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn bg-grey waves-effect" />
                <button type="button" class="btn bg-grey waves-effect" onclick="location.href='@Url.Action("Index", "Solicitudes")'">Regresar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
